<div id="about">
    <div class="about">
        <div class="about__banner flex flex--center"  id="header">
            <h1>About us</h1>
        </div>
        <div class="about__apply">
            <br>
            <br>
            <br>
            <h3>Be part of our AWESOME team</h3>
            <p>You can apply here:</p>
            <button class="btn"><a href="https://docs.google.com/forms/d/e/1FAIpQLSdazLl2uMoMwxj2R3QHKHp_EXBJn3zuhHs3j9bJNc4JTvM3dg/viewform?usp=sf_link" target="_blank">apply</a></button>
        </div>
        <div class="about__mission section-wrapper">
            <h3>Our Mission</h3>
            <p>SA Cleaning Services is committed to providing the highest quality commercial cleaning service available by exceeding the expectations of our clients and providing creative cleaning solutions that fully satisfy customers' needs.</p>
            <h3>Our Vision</h3>
            <p>We are constantly working to establish ourselves as the most respected and sought after contract cleaning and facilities support service in Ohio.</p>
        </div>
        <div class="about__values section-wrapper">
            <h1>Our Values</h1>
            <ul class="card">
                <li class="card__item">
                    <div class="icon">
                        <img src="assets/images/star-icon.svg" alt="start icon">
                        <label>Responsability</label>
                    </div>
                    <p class="text">Acting with integrity towards our staff, our customers, the community and the environment.</p>
                </li>
                <li class="card__item">
                    <div class="icon">
                        <img src="assets/images/star-icon.svg" alt="start icon">
                        <label>Caring</label>
                    </div>
                    <p class="text">A duty of care for our staff, customers and the environment.</p>
                </li>
                <li class="card__item">
                    <div class="icon">
                        <img src="assets/images/star-icon.svg" alt="start icon">
                        <label>Integrity</label>
                    </div>
                    <p class="text">To act with honesty, openness and do what we say we will do. Innovation: to be industry leaders.</p>
                </li>
                <li class="card__item">
                    <div class="icon">
                        <img src="assets/images/star-icon.svg" alt="start icon">
                        <label>Excellence</label>
                    </div>
                    <p class="text">To always look to provide the best quality experience with regards to our cleaning and our customer service.</p>
                </li>
            </ul>
        </div>
    </div>
</div>