.about{
    h1{
        color: #102230;
    }
    &__banner{
        padding: 60px 0 0 0;
        height: 380px;
        background-image: url("/assets/images/bg-about.jpg");
        color: #FFF;
        font-size: 25px;
        h1{
            margin-top: 140px;
            text-align: center;
            color: #FFF;
        }
    }
    &__team{
        max-width: 1200px;
        width: 90%;
        margin: 5em auto 4em auto;
        text-align: center;
        .flex {
            justify-content: center;
            padding: 0;
            &__item{
                box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
                list-style: none;
                display: inline-block;
                vertical-align: top;
                margin: 2em 0.5em;
                width: 245px;
                border-radius: 10px;
                img{
                    display: block;
                    width: 100%;
                    border-radius: 10px 10px 0 0;
                }
                label{
                    span{
                        padding: 1.5em 0 0.2em 0;
                        color: #FFF;
                        background: #1F3649;
                        display: block;
                    }
                    .title{
                        color: #0DAF4B;
                        padding: 0 0 1.5em 0;
                        font-size: 14px;
                        border-radius: 0 0 10px 10px;
                    }
                }
            }
        }
    }
    &__apply{
        color: #102230;
        max-width: 400px;
        width: 80%;
        text-align: center;
        margin: 0 auto 3em auto;
        h3{
            font-size: 28px ;
            padding: 0;
            margin: 0;
        }
        p{
            margin: 0.3em 0 1em 0 ;
            font-size: 18px;
        }
        .btn{
            width: 280px;
        }
    }
    &__mission{
        margin:5em auto 5em auto ;
        padding: 1.5em 3em 2em 3em;
        background: #1F3649;
        border-radius: 10px;
        color: #FFF;
        text-align: justify;
        max-width: 900px ;
        width: 90%;
        h3{
            color: #0DAF4B;
            margin: 2em 0 0.3em 0;
        }
        p{
            margin: 0 0 2em 0;
        }
    }
    &__values{
        align-items: flex-start;
        .card{
            padding: 0;
            list-style: none;
            &__item{
                display: inline-block;
                vertical-align: top;
                width: 210px;
                height: 190px;
                padding: 1em;
                background: #1F3649;
                color: #FFF;
                text-align: left;
                border-radius: 10px;
                margin: 1em;
                img{
                    display: block;
                    margin: 0 auto 0.5em auto;
                }
                label{
                    font-weight: 700;
                    text-align: center;
                    width: 100%;
                    display: block;

                }
                .text{
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
}