footer{
    background-color: #102230;
    color: #FFF;
    & > div{
        align-items: center;
    }
    small{
        padding: 1.4em 0 1em 0;
        float: right;
    }
    img{
        width: 60px;
        padding:5px 0;    
    }
    .footer-wrapper{
        max-width: 1024px;
        width: 80%;
        margin: 0 auto;
    }

}